$color_1: #333;
$color_2: #555;
$color_3: #fff;
$color_4: #007bff;
$font-family_1: Arial, sans-serif;
$background-color_1: #f4f4f4;
$background-color_2: #fff;
$background-color_3: #4caf50;
$background-color_4: #45a049;

body {
  font-family: $font-family_1;
  background-color: $background-color_1;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
}
.form-container {
  background-color: $background-color_2;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.login-container {
  h2 {
    text-align: center;
    color: $color_1;
  }
}
.form-group {
  margin-bottom: 15px;
  label {
    display: block;
    margin-bottom: 5px;
    color: $color_2;
  }
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: $background-color_3;
    color: $color_3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: $background-color_4;
    }
  }
}
.options {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  a {
    text-decoration: none;
    color: $color_4;
    cursor: pointer;
  }
}
