.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-start;
  align-content: flex-start;
}
.wrapper .longCard {
  background: rgb(152, 74, 254);
  border-radius: 20px;
  padding: 20px;
  width: 47vw;
  max-width: 50%;
  min-height: 270px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  color: white;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: auto;
  border: 10px;
  margin-bottom: 10px;
}
.wrapper .longCard .timeAndLocation {
  color: rgba(255, 255, 255, 0.81);
  display: flex;
  align-items: right;
  width: 100%;
  margin-bottom: 15px;
}
.wrapper .longCard .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.wrapper .longCard .header .headerText {
  font-size: 16px;
}
.wrapper .longCard .profileImage {
  width: 40px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 20px;
  display: relative;
}
.wrapper .longCard .content {
  text-align: left;
  width: 100%;
}
.wrapper .longCard .title {
  font-size: 22px;
  font-weight: bold;
}
.wrapper .longCard .button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 0;
  left: 20px;
  right: 20px;
  background-color: #73c7e3;
  border: 1px solid #00f5f0;
  color: var(--white);
}
.wrapper .longCard .button:hover {
  background-color: var(--clr-accent-500);
  transform: scale(1.05);
}
.wrapper .longCard .button:active {
  background-color: var(--clr-accent-500);
  transform: scale(0.95);
}
.wrapper .card {
  background: rgb(36, 34, 35);
  border-radius: 20px;
  padding: 20px;
  width: 47vw;
  max-width: 50%;
  min-height: 230px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  color: white;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: auto;
  border: 10px;
  margin-bottom: 10px;
}
.wrapper .card .timeAndLocation {
  color: rgba(255, 255, 255, 0.81);
  display: flex;
  align-items: right;
  width: 100%;
  margin-bottom: 15px;
}
.wrapper .card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.wrapper .card .header .headerText {
  font-size: 16px;
}
.wrapper .card .profileImage {
  width: 40px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 20px;
  display: relative;
}
.wrapper .card .content {
  text-align: left;
  width: 100%;
}
.wrapper .card .title {
  font-size: 22px;
  font-weight: bold;
}
.wrapper .card .button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 0;
  left: 20px;
  right: 20px;
  background-color: #73c7e3;
  border: 1px solid #00f5f0;
  color: var(--white);
}
.wrapper .card .button:hover {
  background-color: var(--clr-accent-500);
  transform: scale(1.05);
}
.wrapper .card .button:active {
  background-color: var(--clr-accent-500);
  transform: scale(0.95);
}/*# sourceMappingURL=NotificationCard.module.css.map */