.layout {
  width: auto;
  background-color: rgb(240, 242, 242);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.container {
  //position: absolute;
  //top: 90px;
  //left: 13vw;
  //display: flex;
  margin: 77px 35vw 8px 158px;
  padding: 20px;
  //flex-direction: column;
  //justify-content: center;
  //align-content: flex-start;
  background-color: white;
  border-radius: 30px;
}

.header {
  position: absolute;
  top: 20px;
  left: 100px;
  font-size: 25px;
}
.newPost{
	margin-left:59.2vw;

	position:fixed;
  bottom: 12px;

}
