$color_1: #333;
$color_2: #555;
$color_3: #fff;
$color_4: #007bff;
$background-color_1: #fff;
$background-color_2: #4caf50;
$background-color_3: #45a049;

.container {
  display: flex;
  justify-content: space-around;
}
.formContainer {
  background-color: $background-color_1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-bottom: 20px;
  h2 {
    text-align: center;
    color: $color_1;
  }
}
.formGroup {
  margin-bottom: 15px;
  label {
    display: block;
    margin-bottom: 5px;
    color: $color_2;
  }
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: $background-color_2;
    color: $color_3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: $background-color_3;
    }
  }
}
.options {
  text-align: center;
  margin-top: 10px;
  a {
    text-decoration: none;
    color: $color_4;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}