.register-page {
  display: flex;
  min-height: 100vh;
  color: #fff;
}
.register-page .image-container {
  flex: 1;
  background: url("../../images/picture.png") no-repeat center center;
  background-size: cover;
}
.register-page .register-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: #fff;
}
.register-page .register-content {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: #ffffff;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.register-page .register-content .x-icon-container {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.register-page .register-content header {
  text-align: center;
}
.register-page .register-content header h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.register-page .register-content header p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}
.register-page .register-content .register-form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.register-page .register-content .register-form .x-icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.register-page .register-content .register-form .input-group {
  margin-bottom: 1rem;
  min-width: 100%;
  margin-top: 15px;
}
.register-page .register-content .register-form .input-group label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}
.register-page .register-content .register-form .input-group .password {
  width: 100%;
  font-size: 1rem;
  border-radius: 20px;
}
.register-page .register-content .register-form .input-group .password::-moz-placeholder {
  color: #aaa;
}
.register-page .register-content .register-form .input-group .password::placeholder {
  color: #aaa;
}
.register-page .register-content .register-form .input-group input {
  width: 100%;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid #ddd;
}
.register-page .register-content .register-form .input-group input::-moz-placeholder {
  color: #aaa;
}
.register-page .register-content .register-form .input-group input::placeholder {
  color: #aaa;
}
.register-page .register-content .register-form .form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.register-page .register-content .register-form .form-options .checkbox-group {
  display: flex;
  align-items: center;
}
.register-page .register-content .register-form .form-options .checkbox-group input[type=checkbox] {
  margin-right: 0.5rem;
}
.register-page .register-content .register-form .form-options .forgot-password {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
}
.register-page .register-content .register-form .form-options .forgot-password:hover {
  text-decoration: underline;
}
.register-page .register-content .register-form .register-button {
  padding: 1rem 2rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
  background-color: #000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.register-page .register-content .register-form .register-button:hover {
  background-color: #333;
}
.register-page .register-content .sign-up-prompt {
  text-align: center;
  font-size: 0.9rem;
  color: #333;
}
.register-page .register-content .sign-up-prompt .sign-up-link {
  color: #0056b3;
  text-decoration: none;
  font-weight: bold;
}
.register-page .register-content .sign-up-prompt .sign-up-link:hover {
  text-decoration: underline;
}
.register-page .return-to-login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: #333;
  margin-top: 1rem;
}
.register-page .return-to-login .return-to-login-link {
  color: #0056b3;
  text-decoration: none;
  font-weight: bold;
}
.register-page .return-to-login .return-to-login-link:hover {
  text-decoration: underline;
}/*# sourceMappingURL=Register.module.css.map */