// Assuming a simple layout, directly pushing the aside to the right
.main-aside {
	//float: right; // Floats the calendar to the right side of its container
	// Adjust this as needed to fit your design requirements

	// Optional: add some styling to ensure it looks good
	//padding: 20px;
	//box-sizing: border-box;

	// Assuming your calendar might be in a flex or grid layout
	// You can uncomment and adapt the following lines as necessary
	// display: flex;
	// justify-content: flex-end;

	// For a more responsive approach, consider media queries
	// @media (max-width: 768px) {
	//   width: 100%;
	//   float: none;
	// }

	//float: right;
	width: 25vw;
	height: 100vh;
	z-index: 100;
	position: fixed;
	right: 0;
	top: 0px;



	//margin-right: 20px;


}

// // Add additional styling for the calendar and its elements as needed
// .eventcalendar {
// 	width: 400px;
// 	color: rebeccapurple;

// }

.toast {
	// Positioning and styles for the toast notification
	position: fixed;
	bottom: 20px;
	right: 20px; // Adjust as needed to not overlap the calendar
	z-index: 100; // Ensure it's above other content
}
