.login-page {
  display: flex;
  min-height: 100vh;
  background: var(--clr-primary-500);
}
.login-page .image-container {
  flex: 1;
  background: url("../../images/picture.png") no-repeat center center;
  background-size: cover;
}
.login-page .login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: var(--clr-accent-300);
}
.login-page .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f2;
}
.login-page .login-content {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: #ffffff;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.login-page .login-content header {
  text-align: center;
}
.login-page .login-content header h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.login-page .login-content header p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}
.login-page .login-content .login-logo {
  width: 50px;
  height: auto;
}
.login-page .login-content .login-form {
  display: flex;
  flex-direction: column;
}
.login-page .login-content .login-form .input-group {
  margin-bottom: 1rem;
}
.login-page .login-content .login-form .input-group label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}
.login-page .login-content .login-form .input-group input {
  width: 100%;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid #ddd;
}
.login-page .login-content .login-form .input-group input::-moz-placeholder {
  color: #aaa;
}
.login-page .login-content .login-form .input-group input::placeholder {
  color: #aaa;
}
.login-page .login-content .login-form .form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.login-page .login-content .login-form .form-options .checkbox-group {
  display: flex;
  align-items: center;
}
.login-page .login-content .login-form .form-options .checkbox-group input[type=checkbox] {
  margin-right: 0.5rem;
}
.login-page .login-content .login-form .form-options .forgot-password {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
}
.login-page .login-content .login-form .form-options .forgot-password:hover {
  text-decoration: underline;
}
.login-page .login-content .login-form .sign-in-button {
  padding: 1rem 2rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
  background-color: var(--clr-background-500);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-page .login-content .login-form .sign-in-button:hover {
  background-color: var(--clr-accent-500);
}
.login-page .login-content .sign-up-prompt {
  text-align: center;
  font-size: 0.9rem;
  color: #333;
  margin-top: 1rem;
}
.login-page .login-content .sign-up-prompt .sign-up-link {
  color: #0056b3;
  text-decoration: none;
  font-weight: bold;
}
.login-page .login-content .sign-up-prompt .sign-up-link:hover {
  text-decoration: underline;
}/*# sourceMappingURL=Login.module.css.map */