main {
  width: auto;
  margin: auto 30%;
}
#main-aside {
  position: fixed;
  top: 10%;
  right: 16px;
  width: auto;
  height: 80%;
  border: black solid 2px;
}
.main-posts {
  list-style-type: none;
  padding-inline-start: 0;

  li {
    background: #007bff;
    width: 256px;
    padding: 4px;
    margin: 8px 0;
    border-radius: 8px;
  }
}
