/* NavBar.module.scss */

.Nav-bar {
	background-color: var(--clr-primary-500);
	position: fixed; // Fixed positioning to keep the navbar at the top of the page
	height: 100vh; // Full height of the viewport
	width: 75px; // Set the width of the navbar
	left: 0; // Align the navbar to the right side of the viewport
	top: 0;
	flex-shrink: 0;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	justify-content: center;
	align-items: center;
	font-size: var(--fs-400);
    justify-content: space-between;

    a {
        color: black;
        text-decoration: none;
    }
    svg:nth-child(3) {
        padding-top: 400px;
    }
}

.profileIcon {
    background-size: cover;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
}

.homeIcon {
    cursor: pointer;
}


.logout-icon {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
    background: var(--mio-theme-color-surface-2); /* Use your desired background color */
    z-index: 8;
}

