/* NavBar.module.scss */
$brdr-radius: 16px;

.Nav-bar {
	background-color: var(--clr-primary-500);
	position: fixed; // Fixed positioning to keep the navbar at the top of the page
    top: 16px;
    left: 0;
	height: 98vh; // Full height of the viewport
	width: 150px; // Set the width of the navbar
    //float: left;
  	flex-shrink: 0;
	padding: 16px;
    border-bottom-left-radius: $brdr-radius;
    border-top-left-radius: $brdr-radius;
	display: flex;
	flex-direction: column;
	gap: 25px;
	justify-content: space-between;
	align-items: center;
	font-size: var(--fs-400);

  a {
    color: black;
    text-decoration: none;
  }
  img:nth-child(3) {
    margin-top: 400px;
  }
}

.profileIcon {
    background-size: cover;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
}

.homeIcon {
    cursor: pointer;
}
