.icon{
    width: 24px;
    height: 24px;
    position: relative;
    align-self: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.dropdown {
    //position: absolute;
    margin-left: 50px;
    display: inline-block;
    cursor: pointer;
    top: 60px;
    z-index: 9999;
}

.locale-switcher {
    display: flex;
    flex-direction: column;
    align-items: center;
}
