.icon{
    width: 24px;
    height: 24px;
    position: relative;
    align-self: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.dropdown {
    //position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 60px;
    z-index: 999;
}
