$bg-color-e1: #e1e1e1;

body {
	font-family: "Arial", sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 20px;
}
.profile-container {
	background-color: #ffffff;
	border-radius: 8px;
	padding: 20px;
	max-width: 495px;
	margin: auto 25%;
}
.top-banner {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.greeting {
	font-size: 24px;
	color: #333;
	margin-bottom: 10px;
}
.wellness-guide {
	background-color: $bg-color-e1;
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 18px;
}
.task-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	padding: 0;

	li {
		max-width: 33%;
		background-color: $bg-color-e1;
		border-radius: 8px;
		margin-bottom: 10px;
		padding: 10px;
		font-size: 18px;
		cursor: pointer;
	}

	li:hover {
		background-color: #d1d1d1;
	}
}
.new-task-form {
	$input-border-radius: 8px;
	input {
		padding: 8px 32px;
	}
	input[type="text"] {
		border-bottom-left-radius: $input-border-radius;
		border-top-left-radius: $input-border-radius;
		border-left-color: black;
	}
	input[type="button"] {
		border-bottom-right-radius: $input-border-radius;
		border-top-right-radius: $input-border-radius;
		background-color: purple;
		color: white;
	}
}
