// Variables
$bg-color-e1: #ea7cd4;
$input-border-radius: 8px;

.layout {
	//width: 60vw;
	//left: 13vw;
	background-color: rgb(240, 242, 242);
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	//position: absolute;
	//top: 90px;
	border-radius: 30px;
}

// .layout {
// 	width: 60vw;
// 	background-color: rgb(240, 242, 242);
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	justify-content: center;
// 	position: absolute;
// 	top: 60px;
// 	border-radius: 30px;
// }

.container {
	//display: flex;
	//flex-direction: column;
	//justify-content: center;
	//align-content: flex-start;
	background-color: rgb(255, 255, 255);
	position: relative;
	max-width: 800px;
	margin: 77px 35vw 8px 158px;
	padding: 20px;
	font-family: "Arial", sans-serif;
}

.profileInfo {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 20px;
}

.username {
	font-size: 24px;
	margin: 0;
}

.bio {
	font-size: 16px;
	margin: 0;
}

.heading {
	margin-bottom: 20px;
}

.postsContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 20px;
	


}

.post {
	background-color: #f4f4f4;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.newPost {
	background-size: cover;
	border-radius: 50%;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	z-index: 999;
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

	// Overwrite previous margin definition if needed
	margin: 0;
}
.editProfileModal {
	position: fixed;
	top: 50%;
	//left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	max-width: 400px;
	width: 100%;
	max-height: 80%;
	overflow-y: auto;

	&.absolute {
		position: absolute;
		transform: translate(-80%, -50%);
	}

	.editProfileForm {
		display: flex;
		flex-direction: column;

		input {
			margin-bottom: 10px;
			padding: 8px 12px;
			border: 1px solid #ccc;
			border-radius: 4px;
			font-size: 1rem;
		}

		button {
			padding: 15px;
			border: none;
			border-radius: 17px;
			background-color: #007bff;
			color: #fff;
			font-size: 1rem;
			cursor: pointer;
			margin-right: 20px;

			&:hover {
				background-color: #0056b3;
			}
		}
	}
}

.settings {
	position: absolute;
	top: 30px;
	right: 30px;
}

.modalBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.newPost{
	margin-right:35.95vw;
	

}


