// Variables
$bg-color-e1: #ea7cd4;
$input-border-radius: 8px;


.layout {
	//width: 60vw;
    //left: 13vw;
	background-color: rgb(240, 242, 242);
    align-items: center;
    justify-content: center;
	display: flex;
	flex-direction: column;
    //position: absolute;
    //top: 90px;
    border-radius: 30px;

}

// .layout {
// 	width: 60vw;
// 	background-color: rgb(240, 242, 242);
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	justify-content: center;
// 	position: absolute;
// 	top: 60px;
// 	border-radius: 30px;
// }


.container {
	//display: flex;
	//flex-direction: column;
	//justify-content: center;
	//align-content: flex-start;
	background-color: rgb(255, 255, 255);
    position: relative;
	max-width: 800px;
	margin: 77px 35vw 8px 158px;
	padding: 20px;
	font-family: "Arial", sans-serif;
    
 
}



.profileInfo {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 20px;
}

.username {
	font-size: 24px;
	margin: 0;
}

.bio {
	font-size: 16px;
	margin: 0;
}

.heading {
	margin-bottom: 20px;
}

.postsContainer {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.post {
	background-color: #f4f4f4;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.newPost {
	background-size: cover;
	border-radius: 50%;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	z-index: 999;
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

	// Overwrite previous margin definition if needed
	margin: 0;
}
